.container {
  background: #45A9EA;
  min-width: 15rem;
  width: 20%;
  height: 100%;
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.5s ease-in-out;

  .contents {
    .brand {
      height: 10%;
      min-height: 10rem;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-style: italic;
      color: #ffffff;
      font-size: 2rem;
    }

    .contents {

      .menu {
        display: flex;
        flex-direction: column;

        .menuItem {
          background: #ffffff;
          margin: 3%;
          padding: 2%;
          border-radius: 3%;
          color: #45A9EA;
          display: flex;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
  }

  .footer {
    color: #ffffff;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    display: none;
  }
}