.property {
  height: 80dvh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 1.5%;
  padding: 1rem;
}

.property > * {
  flex: 0 1 32.3%;
}

@media screen and (max-width: 600px) {
  .property > * {
    flex: 1 1 100%;
  }
}