.main {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  overflow: hidden;

  .contents {
    display: flex;
    flex-direction: column;
    width: 100%;

    .content {
      padding: 1rem;
    }
  }
}

.roleSelection {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}