.main {
  height: 100dvh;
  width: 100dvw;
  display: flex;

  .contents {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.roleSelection {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}